.form{
  width: fit-content;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(0, 92, 187, 0.11);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.formDetail{
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
mat-form-field{
  width: 100%;
  margin-top: 20px;
}
