<footer color="primary" style="background-color: #005CBB;">
  <div class="footer-content">
    <p>&copy; {{ currentYear }} {{nameApp}}. Tous droits réservés.</p>
    <nav>
      <a
        routerLink="images"
      >Images</a>
      <a
        routerLink="videos"
      >Videos</a>
      <a
        routerLink="pdf"
      >Pdf</a>
      <a
        routerLink="textes"
      >Textes</a>
      <a
        routerLink="audios"
      >Audios</a>
      <a
        routerLink="other"
      >Other</a>
    </nav>
  </div>
</footer>
