<mat-toolbar style="background-color: #005CBB">
  <button mat-icon-button (click)="snav.toggle(); display()"
          style="justify-content: space-around; align-items: center;color: white; font-weight: bold;
          font-size: 20px">
    <mat-icon>menu
    </mat-icon>
  </button>
  <span style="font-weight: bold;" (mouseenter)="onListItemMouseEnter()" (mouseleave)="onListItemMouseLeave()">
    <a class="name-app" routerLink="">{{nameApp}}
      <svg [@listItem]="hoverStaet" style="margin-bottom: -3px"
           xmlns="http://www.w3.org/2000/svg"
           width="24"
           height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
           stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-player-eject"><path
        stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12h14l-7 -8z"/><path
        d="M5 16m0 1a1 1 0 0 1 1 -1h12a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-12a1 1 0 0 1 -1 -1z"/></svg></a>
  </span>
  <a
    matTooltip="Ajouter un medias"
    (mouseenter)="hover=true"
    (mouseleave)="hover=false"
    [style.color]="'white'"
    routerLink="add"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact : true}"
    (click)="snav.close()"
    class="link"
    style="position: absolute"
    [ngStyle]="{'right': isMallScreen ? '90px' : '150px'}"
  >
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
         stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
         class="icon icon-tabler icons-tabler-outline icon-tabler-plus">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <path d="M12 5l0 14"/>
      <path d="M5 12l14 0"/>
    </svg>
  </a>
  <a
    matTooltip="Home"
    (mouseenter)="hover=true"
    (mouseleave)="hover=false"
    [style.color]="'white'"
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact : true}"
    (click)="snav.close()"
    class="link"
    style="position: absolute"
    [ngStyle]="{'right': isMallScreen ? '60px' : '100px'}"
  >
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor"
         class="icon icon-tabler icons-tabler-filled icon-tabler-home">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <path
        d="M12.707 2.293l9 9c.63 .63 .184 1.707 -.707 1.707h-1v6a3 3 0 0 1 -3 3h-1v-7a3 3 0 0 0 -2.824 -2.995l-.176 -.005h-2a3 3 0 0 0 -3 3v7h-1a3 3 0 0 1 -3 -3v-6h-1c-.89 0 -1.337 -1.077 -.707 -1.707l9 -9a1 1 0 0 1 1.414 0m.293 11.707a1 1 0 0 1 1 1v7h-4v-7a1 1 0 0 1 .883 -.993l.117 -.007z"/>
    </svg>
  </a>
  <a
    matTooltip="A propos de 'app"
    (mouseenter)="hover=true"
    (mouseleave)="hover=false"
    [style.color]="'white'"
    routerLink="about-app"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact : true}"
    (click)="snav.close()"
    class="link"
    style="position: absolute"
    [ngStyle]="{'right': isMallScreen ? '30px' : '50px'}"
  >
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
         stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
         class="icon icon-tabler icons-tabler-outline icon-tabler-info-circle">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"/>
      <path d="M12 9h.01"/>
      <path d="M11 12h1v4h1"/>
    </svg>
  </a>

</mat-toolbar>

<mat-drawer-container class="example-container" autosize style="position: fixed; background:
transparent; border: none; width: 100%; height: 100vh; z-index: 10" hasBackdrop="true"
                      [style.display]=" !openValue?'none' : 'block'"
>
  <mat-drawer #snav style="background: rgba(0,92,187,0.76)" mode="over" hasBackdrop="true"
              (openedChange)="onDrawerStateChange($event)">
    <div class="sections">
      <a
        (mouseenter)="hover=true"
        (mouseleave)="hover=false"
        [style.color]="'white'"
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact : true}"
        style="width: 100%;"
        (click)="snav.close()"
      >
        <div style="display: flex; justify-content: start; align-items: center; column-gap: 20px">
          <span style="font-size: 40px">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="icon icon-tabler icons-tabler-outline icon-tabler-smart-home"><path stroke="none"
                                                                                            d="M0 0h24v24H0z"
                                                                                            fill="none"/><path
              d="M19 8.71l-5.333 -4.148a2.666 2.666 0 0 0 -3.274 0l-5.334 4.148a2.665 2.665 0 0 0 -1.029 2.105v7.2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-7.2c0 -.823 -.38 -1.6 -1.03 -2.105"/><path
              d="M16 15c-2.21 1.333 -5.792 1.333 -8 0"/></svg>
          </span>
          <span>
            Home
          </span>
        </div>
      </a>
      <a
        (mouseenter)="hover=true"
        (mouseleave)="hover=false"
        [style.color]="'white'"
        routerLink="images"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact : true}"
        (click)="snav.close()"
        style="width: 100%;"
      >
        <div style="display: flex; justify-content: start; align-items: center; column-gap: 20px">
          <span style="font-size: 40px">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                 viewBox="0 0 24 24"
                 fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="icon icon-tabler icons-tabler-outline icon-tabler-photo-scan"><path stroke="none"
                                                                                            d="M0 0h24v24H0z"
                                                                                            fill="none"/><path
              d="M15 8h.01"/><path d="M6 13l2.644 -2.644a1.21 1.21 0 0 1 1.712 0l3.644 3.644"/><path
              d="M13 13l1.644 -1.644a1.21 1.21 0 0 1 1.712 0l1.644 1.644"/><path d="M4 8v-2a2 2 0 0 1 2 -2h2"/><path
              d="M4 16v2a2 2 0 0 0 2 2h2"/><path d="M16 4h2a2 2 0 0 1 2 2v2"/><path
              d="M16 20h2a2 2 0 0 0 2 -2v-2"/></svg>
          </span>
          <span>
            Image
          </span>
        </div>
      </a>
      <a
        (mouseenter)="hover=true"
        (mouseleave)="hover=false"
        [style.color]="'white'"
        routerLink="videos"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact : true}"
        (click)="snav.close()"
        style="width: 100%;"
      >
        <div style="display: flex; justify-content: start; align-items: center; column-gap: 20px">
          <span style="font-size: 40px">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="icon icon-tabler icons-tabler-outline icon-tabler-movie"><path stroke="none" d="M0 0h24v24H0z"
                                                                                       fill="none"/><path
              d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"/><path d="M8 4l0 16"/><path
              d="M16 4l0 16"/><path d="M4 8l4 0"/><path d="M4 16l4 0"/><path d="M4 12l16 0"/><path d="M16 8l4 0"/><path
              d="M16 16l4 0"/></svg>
          </span>
          <span>
            Videos
          </span>
        </div>
      </a>
      <a
        (mouseenter)="hover=true"
        (mouseleave)="hover=false"
        [style.color]="'white'"
        routerLink="pdf"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact : true}"
        (click)="snav.close()"
        style="width: 100%;"
      >
        <div style="display: flex; justify-content: start; align-items: center; column-gap: 20px">
          <span style="font-size: 40px">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="icon icon-tabler icons-tabler-outline icon-tabler-file-type-pdf"><path stroke="none"
                                                                                               d="M0 0h24v24H0z"
                                                                                               fill="none"/><path
              d="M14 3v4a1 1 0 0 0 1 1h4"/><path d="M5 12v-7a2 2 0 0 1 2 -2h7l5 5v4"/><path
              d="M5 18h1.5a1.5 1.5 0 0 0 0 -3h-1.5v6"/><path d="M17 18h2"/><path d="M20 15h-3v6"/><path
              d="M11 15v6h1a2 2 0 0 0 2 -2v-2a2 2 0 0 0 -2 -2h-1z"/></svg>
          </span>
          <span>
            Pdf
          </span>
        </div>
      </a>
      <a
        (mouseenter)="hover=true"
        (mouseleave)="hover=false"
        [style.color]="'white'"
        routerLink="textes"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact : true}"
        (click)="snav.close()"
        style="width: 100%;"
      >
        <div style="display: flex; justify-content: start; align-items: center; column-gap: 20px">
          <span style="font-size: 40px">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="icon icon-tabler icons-tabler-outline icon-tabler-file-type-txt"><path stroke="none"
                                                                                               d="M0 0h24v24H0z"
                                                                                               fill="none"/><path
              d="M14 3v4a1 1 0 0 0 1 1h4"/><path d="M14 3v4a1 1 0 0 0 1 1h4"/><path d="M16.5 15h3"/><path
              d="M5 12v-7a2 2 0 0 1 2 -2h7l5 5v4"/><path d="M4.5 15h3"/><path d="M6 15v6"/><path d="M18 15v6"/><path
              d="M10 15l4 6"/><path d="M10 21l4 -6"/></svg>
          </span>
          <span>
            Textes
          </span>
        </div>
      </a>
      <a
        (mouseenter)="hover=true"
        (mouseleave)="hover=false"
        [style.color]="'white'"
        routerLink="audios"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact : true}"
        (click)="snav.close()"
        style="width: 100%;"
      >
        <div style="display: flex; justify-content: start; align-items: center; column-gap: 20px">
          <span style="font-size: 40px">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="icon icon-tabler icons-tabler-outline icon-tabler-music"><path stroke="none" d="M0 0h24v24H0z"
                                                                                       fill="none"/><path
              d="M3 17a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"/><path d="M13 17a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"/><path
              d="M9 17v-13h10v13"/><path d="M9 8h10"/></svg>
          </span>
          <span>
            Audios
          </span>
        </div>
      </a>
      <a
        (mouseenter)="hover=true"
        (mouseleave)="hover=false"
        [style.color]="'white'"
        routerLink="other"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact : true}"
        (click)="snav.close()"
        style="width: 100%;"
      >
        <div style="display: flex; justify-content: start; align-items: center; column-gap: 20px">
          <span style="font-size: 40px">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="icon icon-tabler icons-tabler-outline icon-tabler-notes"><path stroke="none" d="M0 0h24v24H0z"
                                                                                       fill="none"/><path
              d="M5 3m0 2a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2z"/><path d="M9 7l6 0"/><path
              d="M9 11l6 0"/><path d="M9 15l4 0"/></svg>
          </span>
          <span>
            Other
          </span>
        </div>
      </a>
      <a
        (mouseenter)="hover=true"
        (mouseleave)="hover=false"
        [style.color]="'white'"
        routerLink="corbeille"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact : true}"
        (click)="snav.close()"
        style="width: 100%;"
      >
        <div style="display: flex; justify-content: start; align-items: center; column-gap: 20px">
          <span style="font-size: 40px">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="icon icon-tabler icons-tabler-outline icon-tabler-archive"><path stroke="none" d="M0 0h24v24H0z"
                                                                                         fill="none"/><path
              d="M3 4m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"/><path
              d="M5 8v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-10"/><path d="M10 12l4 0"/></svg>
          </span>
          <span>
            Corbeille
          </span>
        </div>
      </a>
    </div>

  </mat-drawer>
</mat-drawer-container>
